<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />

        <title>{% block title %}{% endblock %} - My Webpage</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css')}}" />
        <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a class="navbar-brand" href="/">
                        <em>weather<br/>lapse</em>
                    </a>
                </div>
                {% block nav_content %}
                {% endblock %}
            </div>
            
            <div id="content">{% block content %}{% endblock %}</div>
            

            <div id="footer" class="text-center">
                {% block footer %}
                &copy; Copyright 2015 Jarkko Saltiola - MIT Source Code
                <a href="https://github.com/jasalt/tiea207-demo">at Github</a>
                {% endblock %}
            </div>

        </div>
    </body>
</html>
