<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />

        <title>{% block title %}{% endblock %} - My Webpage</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css')}}" />
        <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a class="navbar-brand" href="/">
                        <h2><em>landekamera</em></h2>
                    </a>
                </div>
                {% block nav_content %}
                {% endblock %}
            </div>
            
            <div id="content">{% block content %}{% endblock %}</div>
            

            <div id="footer" class="text-center">
                {% block footer %}
                <a href="http://saltio.la">Jarkko Saltiola (2016)</a>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
