{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
 .important { color: #336699; }
</style>
{% endblock %}
{% block content %}

<h1>Valittu päivä: {{ day }}</h1>
<div class="important">
    <ul>
        <li>TODO näytä oikeaa dataa</</li>
    </ul>    
</div>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id}}" frameborder="0" allowfullscreen></iframe>
</div>

<div>
    {% line_chart weather_data %}    
</div>




{% endblock %}
