{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
 .important { color: #336699; }
</style>
<script src="{{ url_for('static', filename='lib/jquery-1.8.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/highcharts.js') }}"></script>
<script src="{{ url_for('ck_page.static', filename='chartkick.js') }}"></script>
{% endblock %}
{% block content %}

<h1>Näytetään {{ day }}. päivä heinäkuuta</h1>

{% if prev_day %}
<a href="{{url_for('view_day', date=prev_day)}}">Edellinen</a>
{% else %}
<p>Ei vanhempia videoita</p>
{% endif %}

{% if next_day %}
<a href="{{url_for('view_day', date=next_day)}}">Seuraava</a>
{% else %}
<p>Ei uudempia videoita</p>
{% endif %}

<div class="video-container">
    <iframe width="600" height="340" src="https://www.youtube.com/embed/{{video_id}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>

<div>
    <p>Lämpötila sisällä vs ulkona:</p>
    {% line_chart weather_data['temp'] %}
</div>
<div>
    <p>Tuulen nopeus, keskiarvo:</p>
    {% line_chart weather_data['wind'] %}
</div>
<div>
    <p>Kosteus:</p>
    {% line_chart weather_data['humid'] %}
</div>


{% endblock %}
