{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<br/>

<p>Timelapse videos mixed with weather station data. Location around
    <a target="_blank" href="https://www.google.fi/maps/place/62%C2%B000'00.0%22N+26%C2%B000'00.0%22E/@50.7502389,24.746812,3z/data=!4m2!3m1!1s0x0:0x0">62°N 26°E</a>,
        central Finland
</p>

<div class="well well-sm">
{% if last_capture is not none %}
    <img class="img-responsive" alt="Latest captured image" src="/last-capture"/>
    <p class="text-center">Captured on {{last_capture}}</p>
{% else %}
<p>Please send image to secured /upload endpoint to show it here!</p>
{% endif %}
</div>

{% for year, months in videos.items() %}
<h3>{{ year }}</h3>
<div class="row">
    {% for month, days in months.items() %}
    <div class="col-md-2 col-xs-4">
        <h4>{{ month }}</h4>
        <ul>
            {% for day in days | sort %}
            <li>
                <a href="{{url_for('view_day', day=day, month=month, year=year)}}">{{day}}</a>
            </li>
            {% endfor %} <!-- days -->
        </ul>
    </div>
    {% endfor %} <!-- months -->
</div>
{% endfor %} <!-- years -->


Frontend source code (MIT)
<a target="_blank" href="https://github.com/jasalt/tiea207-demo">at Github</a>
<p>Utilizing <a target="_blank" href="http://pywws.readthedocs.org/en/latest/">pywws</a>, <a target="_blank" href="https://github.com/jasalt/timelapse-utils/tree/master/capture">fswebcam, crontab, raspberrypi</a>, rsync, flask, bootstrap</p>

{% endblock %}
