{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<!-- quick hack to refresh every 15 minutes -->
<meta http-equiv="refresh" content="910">

<br/>

<p>Automated timelapse recordings from Finnish countryside, <a target="_blank" href="https://www.google.fi/maps/place/62%C2%B000'00.0%22N+26%C2%B000'00.0%22E/@50.7502389,24.746812,3z/data=!4m2!3m1!1s0x0:0x0">~62°N 26°E</a>.</p>

<div class="well well-sm">
{% if last_capture is not none %}
    <a href="/last-capture"><img class="img-responsive" alt="Latest captured image" src="/last-capture"/></a>
    <p class="text-center">Captured on <strong>{{last_capture}}</strong></p>
    {% else %}
<p>Waiting for camera...</p>
{% endif %}
</div>

<h2>Browse timelapses:</h2>

{% for year, months in videos.items() %}
<h3>{{ year }}</h3>
<div class="row">
    {% for month, days in months.items() %}
    <div class="col-md-2 col-xs-4">
        <h4>{{ month }}</h4>
        <ul>
            {% for day in days | sort %}
            <li>
                <a href="{{url_for('view_day', day=day, month=month, year=year)}}">{{day}}</a>
            </li>
            {% endfor %} <!-- days -->
        </ul>
    </div>
    {% endfor %} <!-- months -->
</div>
{% endfor %} <!-- years -->

<h3>See also</h3>
<ul>
    <li><a href="http://500px.com/tommisaltiola">Photography from here by Tommi Saltiola at 500px</a></li>
    <li><a href="https://vimeo.com/channels/1056282">Videos on Vimeo</a></li>
</ul>

<h3>For developers</h3>

Frontend source code (MIT)
<a target="_blank" href="https://github.com/jasalt/tiea207-demo">at Github</a>
<p>Utilizing <a target="_blank" href="http://pywws.readthedocs.org/en/latest/">pywws</a>, <a target="_blank" href="https://github.com/jasalt/timelapse-utils/tree/master/capture">fswebcam, crontab, raspberrypi</a>, rsync, flask, bootstrap</p>

{% endblock %}
